body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container, h1 {
   margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
  background: linear-gradient(to right, #22aa44, #44cc66);
}

.indifferent {
  background-color: #dddd22;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background: linear-gradient(to right, #9b870c, #dddd22);
}

.dubious {
  box-shadow:  -1px 1px #b22222, -2px 2px #b22222, -3px 3px #b22222, -4px 4px #b22222, -5px 5px #b22222;
  background-color: #dd4444;
}

.dubious {
  background: linear-gradient(
    to right,
    #700,
    #a00
  );
}

.column {
  width: 30%;
  display: inline-block;
.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
